@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf);
}
* {
  
    margin: 0;
   
}


header{
    background: linear-gradient(to bottom, #269D5C, #177440, #043D1D);
    padding-top: 20px;
    box-shadow: 2px 2px 10px 2px black;
    
    
    

    
    
}

body {
    margin: 0;
    background-color: #E8E5C2;
}

#titulo-menu{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding:40px 0
}

#texto-menu {
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    
}

nav {
    color: #71bd92;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 10px;
    
    
    

}

li {
    list-style: none;
    display: inline;
    padding: 10px 30px;
          
}

nav ul li:hover{
    background-color: rgb(49, 116, 71);
    cursor: pointer;
}

main{
    background-color: white;
    margin:0 8%;
    text-align: justify;
    box-shadow: 0px 0px 12px -2px black;
    border-radius: 10px;
    
    
}

#imagem-robos{
    width: 92%;
    height: 400px;
    margin-left: 70px;
    
}

#imagem-mulher{
    width: 90%;
    margin-left: 5%;

   
}

#titulo-main{
    margin-left: 5%;
    margin-top: 3px;
    padding: 40px 0 15px 0;
    color: #177440;
}

h1, h2{
    font-family: 'idroid';
    color: #043D1D;
    
}

.video{
    background-color: #043D1D;
    width: 100%;
}

iframe{
    margin: 80px
}

h2{
    margin-left: 5%;
    background: linear-gradient(to right, #CDEDDC, #E3F6EB, #ECF8F1, white);
   
}

.texto-main{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#imagem-bug{
    height: 8%;
    width: 50%;
    display: block;
    margin: auto;
    
}

.paragrafo{
    margin-left: 40px;
}

footer{
    background-color: #043D1D;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 40px;
    box-shadow: 1px 1px 8px 1px  black;
}

.aprender-mais{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #a2f5c9;
    border-radius: 15px;
    
}

#texto-mais{
    background-color: #07612e;
    color: white;
    padding: 10px 20px;
    border-radius: 15px 15px 0 0;
    font-size: 22px;
}

#texto-final{
    text-align: center;
    font-size: 20px;
    padding: 15px 0 40px 0;
}

.texto-lista {
    margin-left: 25px;
    margin-top: 30px;
    
}

.item-lista{
    display: flex;
    margin: 0;
    padding: 0;
}

.lista{
    display: flex;
    margin: 50px;
}

#lista02{
    margin-left: 20em;
}

#texto-padding{
    padding-bottom: 50px;
}


@media(max-width:600px){
    #imagem-robos{
        width: auto;
    }

    #imagem-bug{
       margin: auto;
       padding-left: 7%;
    
    }

    #texto-menu{
        width: 500px;
        margin: auto;
    }

 

    
}